.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.container svg {
  text-align: center;
  margin: 60px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px ;
}

.menu li {
  background-color: var(--botao);
  border-radius: 5px;
  padding: 10px 15px;
}

.menu li:hover {
  border: 1px solid var(--cor-hover);
}

.menu li a {
  color: var(--funcional);
}

@media (max-width:500px) {
  .menu {
    display: flex;
    justify-content: center;
  }
  .container img {
    margin: 30px;
  }
  .menu {
    margin-bottom: 20px;
  }
}